*.inputMethod: fcitx
! *.inputMethod: ibus

XTerm.borderWidth: 0
XTerm.utf8: 2
!XTerm.font: xft:Hack:Regular:size=7\
! XTerm.font: xft:Misc Ohsnap:size=7\
!   xft:NanumSquare:Regular:size=7
XTerm.font: xft:Hack:Regular:size=8,antialias=true,\
            xft:Kochi Gothic:antialias=false,\
            xft:Baekmuk Gulim

XTerm.vt100.locale: true
XTerm.vt100.scrollBar: true
XTerm.vt100.scrollbar.width: 8
XTerm.vt100.rightScrollBar: true
XTerm*selectToClipboard: true

! XTerm settings
!XTerm*faceName:     fixed
!XTerm*font:         7x14
XTerm.foreground:   #cccccc
!XTerm*foreground:  #777777
XTerm.background: #222222

! Xft.autohint: 0
! Xft.antialias: 1
! Xft.hinting: 1
! ! Xft.dpi: 106
! Xft.lcdfilter: lcddefault
! Xft.hintstyle: hintslight
! Xft.rgba: rgb

! Xcursor.theme: Eclipse
! Xcursor.theme: Sixus
! Xcursor.theme: CG
! Xcursor.theme: Cyclone
! Xcursor.theme: redglass
! Xcursor.theme: Simple-and-Soft
! Xcursor.theme: Red-Dot
! Xcursor.theme: NeoAlien-dark
! Xcursor.theme: Oxygen Zion
! Xcursor.theme: ATER-yellow
! Xcursor.theme: Neutral
Xcursor.theme: deepin
! Xcursor.theme: Pulse-Glass
! Xcursor.theme: handhelds
! Xcursor.theme: Numix

! Xcursor.size: 16

! FONTS
! urxvt*font: xft:gohufont:size=7:antialias=true,\
! xft:Baekmuk Gulim:Regular:size=7:antialias=true
! urxvt*boldFont: xft:gohufont:size=7:antialias=true

#include ".UrxvtResources"

!#include ".Xresources.d/theme1"
!#include ".Xresources.d/green"
!#include ".Xresources.d/nature"
!#include ".Xresources.d/blackwhite"
!#include ".Xresources.d/gotham"
!#include ".Xresources.d/default"
!#include ".Xresources.d/molokai"
#include ".Xresources.d/lavender"
